*

# common files between crates and root directory
!.gitignore
!.gitattributes
!justfile
!Cargo.toml
!Cargo.lock
!README.md
!rustfmt.toml
!compose.yaml
!.cargo/
!.cargo/config.toml
!.config/
!.config/nextest.toml
!rust-toolchain.toml
!Dockerfile
!.dockerignore
!scripts/
!scripts/docker-build.sh
!LICENSE-APACHE
!LICENSE-MIT

# GitHub Actions workflows
!.github/
!.github/workflows/
!.github/workflows/*.yml

# allowlist `crates` directories and their children, regardless of place
!crates/
!crates/**/
!crates/**/*.rs

#allowlist `apps` directories and their children, regardless of place
!apps
!apps/**/
!apps/**/*.rs

!examples/
!examples/example-js-containers/
!examples/example-js-containers/**
!examples/example-rust-cli/
!examples/example-rust-cli/**

# SQL grammar
!crates/**/*.pest

# Release tooling
!dist-workspace.toml
!release-plz.toml
!CHANGELOG.md
!RELEASING.md
!.github/dist/
!.github/dist/*.yml
